/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
    margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html, body {
    height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
    font: inherit;
}

/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
    isolation: isolate;
}

/*
  10. Custom defaults
 */
html {
    --dark: hsl(210deg 20% 18%);
    --darker: hsl(210deg, 20%, 10%);
    --light: hsl(210deg 7% 77%);
    --lighter: #50565c;

    background: var(--dark);
    color: var(--light);
}

* {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 0.06rem;
}

input, button {
    width: 4rem;
    height: 2rem;
    background: var(--light);
    border: 2px solid var(--lighter);
    border-radius: 0.25rem;
}

input:hover, button:hover {
    background: white;
}

button:active {
    background: var(--dark);
    color: var(--light)
}

/*
    styling checkboxes is nasty business
    need to force browser to not style, and use pseudo elements for checked state
    https://www.scottohara.me/blog/2021/09/24/custom-radio-checkbox-again.html
    (newer accent-color property is a good alternative, but not what I'm looking for)
*/
input[type=checkbox] {
    appearance: none;
    position: relative;
    height: 1.5em;
    width: 1.5em;
}

input[type=checkbox]:checked {
    background: var(--light);
}

input[type=checkbox]:checked:hover {
    background: white;
}

input[type=checkbox]:before {
    content: ''; /* without this, checked::before won't show  */
}

input[type=checkbox]:checked::before {
    background: var(--dark);
    border-radius: 0.125rem;
    position: absolute;
    inset: 20%
}

.input-container {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}